
  @page {
    size: landscape;   /* auto is the initial value */
      margin: 0;
  }
@media print{

  html,body,.container {
    margin: 0;
    padding: 0;
  }
  body {
    padding: 2%;
  }
  .container {
    width: 100%;
  }
}
