
@page {
    size: landscape; /* auto is the initial value */
    margin: 0;
}

@media print {

    html, body, .container {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 2%;
    }

    .container {
        width: 100%;
    }

    #printHelper {
        text-align: left;
        display: block;
        overflow: visible;
        /*white-space: pre;
        white-space: pre-wrap;*/
    }

    .insatserReportTextfield {
        display: none;
    }

    .textfieldP {
        display: none;
    }

    #btn_printInsatsReport {
        display: none;
    }

    #btn_printBedomningsReport {
        display: none;
    }

    a#btn_goToIndex {
        display: none;
    }
    
    .helpText{
        display: none;
    }
}
