/*insatsprioritering.html css*/

.stepB-tabcontent {
    border-style: solid;
    border: solid;
    position: relative;
    bottom: 22px;
    padding: 80px;
}

.stepB-row {
    width: 95%;
    margin: auto;
}

/*tab-delomrade css*/
#btn_Next {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.dropdown{
    font-size:larger;
}


/*tab-insatser css*/
.insatserDiv {
    text-align: left;
}

#insatserDivP {
    font-size: 1em;
    margin-bottom: 15px;
}

#btn_createReport {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#accordion li {
    font-size: 16px;
    list-style: none;
}

#q2, #q3, #q4, #q5, #q6, #q7 {
    opacity: 0.2;
}

.qlistHeader {
    background-color: forestgreen;
    color: #fff;
    text-indent: 2px;
}

.question {
    background-color: #ccc;
    float: left;
    height: 50px;
    text-align: left;
    padding-top: 10px;
    width: 20%;
    font-size: 15px;
}

.qoptions {
    width: 80%;
    height: 50px;
    background-color: #ccc;
}


.list-group {
    border-style: none;
    margin-bottom: 0;
}

.checkboxDiv {
    width: 16%;
    padding-top: 8px;
    padding-right: 0px;
}

    .checkboxDiv label {
        display: list-item;
        cursor: pointer;
        position: relative;
        font-size: 13px;
        bottom: 20px;
        left: 15px;
    }       

div.list-group {
    height: 300px;
}

.list-group > ul {
    padding: 0;
}

.insatserListBtn {
    width: 100%;
    text-align: left;
    text-indent: 10px;
    padding: 10px;
}

/*insatsprioriteringReport css*/
.reportSubtitle {
    border-bottom: 1px solid green;
    text-align: center;
}

.reportColumnHeader > th:nth-child(2), th:nth-child(8) {
    text-align: center;
}


.insatsprioriteringTr {
    border-bottom: 1px solid green;
}

    .insatsprioriteringTr > td {
        text-align: left;
        width: 10%;
        word-wrap: normal;
        padding-left: 10px;
        padding-right: 15px;
    }

        .insatsprioriteringTr > td:first-child {
            width: 20%;
        }

        .insatsprioriteringTr > td:nth-child(2), td:nth-child(8) {
            text-align: center;
        }

        .insatsprioriteringTr > td > textarea.comment {
            margin-top: 10px;
            margin-bottom: 10px;
        }

.insatsArrow {
    color: #00263e;
}

.insatsMarkering {
    float: right;
    font-weight: bold;
    margin-right: 42px;
}
