html, body, .container {
    margin: 0;
    padding: 0;
    border: 0;
    /*margin-bottom: 2%;*/
    min-width: 600px;
}


table, figure {
    page-break-inside: avoid;
}

/*Starter page css*/

.container {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}

.div-starter {
    margin-bottom: 10px;
}

.div-starter-below {
    margin-bottom: 25px;
}

.starter-index {
    margin-top: 50px;
}

.p-starter {
    font-size: 15px;
}

.btn.btn-starterpage {
    margin-bottom: 10px;
    background-color: #00263e;
    color: #fff;
    white-space: normal;
}

    .btn.btn-starterpage:hover {
        background-color: #00263e;
        color: white;
        text-decoration: underline;
    }

textarea {
    resize: none;
    height: 98%;
}


table {
    page-break-inside: auto;
}

/*behovsbedomning page css*/

/*.nav.nav-tabs {
    /*border-bottom: 2px solid #00263e;*/
    /*margin-left: 20px;*/
/*}**/

/*ul.nav.nav-tabs > li {
    margin-bottom: -3px;
}*/

    ul.nav.nav-tabs > li > a {
        color: black;
        pointer-events: none;
        border: none;
        font-size: large;
    }

    /*ul.nav.nav-tabs > li.active a {
        text-decoration: none;
    }*/

i.fa.fa-info-circle {
    color: #00263e;
}

.tab-content {
    border-top-style: none;
    margin-left: 20.5px;
}

.table {
    border-top-style: hidden;
    margin-top: 20px;
}

table.table {
    margin-bottom: 30px;
}

.table-container {
    position: relative;
    border: 2px solid #00263e;
    /*border-right: 2px solid #00263e;
    border-bottom: 2px solid #00263e;*/
    bottom: 22px;
    left: 0.4px;
}

.trHeader {
    border-bottom: 1px solid #00263e;
}

.areaTitle {
    text-align: left;
    font-weight: bold;
    width: 20%;
    border-top-style: none;
}

.chosenSubareaTitle {
    width: 15%;
    text-align: center;
}

.areaTdTitle {
    position: relative;
    top: 28px;
    text-align: left;
    padding-left: 10px;
}

.options {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.subareaTdTitle {
    border-bottom: 1px solid #dedede;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.behovsbedomningTd {
    border-bottom: 1px solid #dedede;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    background-color: #00263e;
    color: #fff;
    padding: 9px 35px;
    border-style: none;
    border-radius: 5px;
}

    .button:hover {
        background-color: #10374f;
    }


/*prioriteringsTable css*/
.storHeader, .litetHeader {
    padding: 10px;
}

.prioriteringsTableTdTitle {
    text-align: left;
}

.prioriteringsTableTd {
    text-align: left;
}

.prioriteringsTableTr > td:nth-child(5){
    opacity:0.2;
}

/*behovsbedomningReport css*/
#behovsbedomningReport {
    background-color: white;
}

    #behovsbedomningReport > table {
        margin-bottom: 25px;
    }

.reportTitle th {
    text-align: center;
    background-color: green;
    color: #fff;
}

.reportColumnHeader th {
    padding: 10px;
    border-bottom: 1px solid green;
}

tr.reportItems > td {
    border-bottom: 1px solid green;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    word-break: normal;
}

td.extraKommentarReportTd > textarea {
    height: 50px;
    width: 175px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*desktop screens*/
@media only screen and (max-width: 1200px) {
    body {
        width: 98%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 100%;
    }
}

/*@media only screen and (max-width: 1000px) {
    body {
        width: 95%;
    }
}*/
