/*insatsprioritering.html css*/

.stepB-tabcontent {
    border-style: solid;
    border: solid;
    position: relative;
    bottom: 22px;
    padding: 80px;
}

.stepB-row{
    width:95%;
    margin:auto;
}

/*tab-delomrade css*/
#btn_Next {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}


/*tab-insatser css*/
.insatserDiv {
    text-align: left;
}

#insatserDivP {
    font-size: 1em;
    margin-bottom: 15px;
}

#btn_createReport {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#accordion li {
    font-size: 16px;
    list-style: none;
}

#q2, #q3, #q4, #q5, #q6, #q7 {
    opacity: 0.2;
}

.qlistHeader {
    background-color: forestgreen;
    color: #fff;
    text-indent: 2px;
}

.question {
    background-color: #ccc;
    float: left;
    height: 50px;
    text-align: left;
    padding-top: 10px;
    width: 30%;
    font-size: 10px;
}

.qoptions {
    width: 70%;
    height: 50px;
    background-color: #ccc;
}


.list-group {
    border-style: none;
    margin-bottom: 0;
}

.checkboxDiv {
    padding-top: 8px;
    padding-right: 0px;
}

    .checkboxDiv label {
        font-size: 8px;
        position: relative;
        bottom: 4px;
        left: 4px;
    }

div.list-group{
    height:300px ;
}
.list-group > ul {
    padding: 0;
}

.insatserListBtn {
    width: 100%;
    text-align: left;
    text-indent: 10px;
    padding: 10px;
}

/*insatsprioriteringReport css*/

#insatsprioriteringReport {
    background-color: white;
    border-style: none;
}

.reportSubtitle {
    border-bottom: 1px solid green;
    text-align: center;
}

.insatsTr {
    border-bottom: 1px solid green;
}

/*.insatsTr > td {
        padding-left:1px;
        padding-right:15px;
        border-bottom: 1px solid green;
    }*/

.insatsTitleTd {
    font-weight: bold;
    text-align: left;
}

.textfieldP {
    width: 1%;
    float: left;
    clear: both;
}

.insatserReportTextfield {
    width: 99%;
    margin-bottom: 5px;
}

.insatserReportPdfButton {
    margin-top: 20px;
}
