/*insatsprioritering.html css*/

.stepB-tabcontent{
   border-style: solid;
   border-top-style: none;    
    position: relative;
    bottom: 22px;
    padding:80px;
}

/*tab-delomrade css*/
#btn_Next{
    margin-top:10px;
    margin-bottom:10px;
    float:right;
}
/*tab-inatser css*/
.insatserDiv{
    text-align: left;
    width: 65%;
}
