html, body, {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    min-height: 101%;
    padding-bottom: 4em;
}
label {
    cursor: pointer;
}
.container {
    width: 90%;
    max-width: 1200px;
}
h1 {
    font-size: 2em;
}
.page-header {
    margin: 0;
    padding: 1em;
    border-bottom: none;
}
.page-header img {
    max-width: 70%;
    width: 280px;
    vertical-align: top;
}
table, figure {
    page-break-inside: avoid;
}

/*a:link, a:visited{
    background-color:transparent;
}
a:hover, a:active{
    background-color:
}*/

/*Starter page css*/

.container {
    background-color: #fff;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
}

.div-starter {
    margin-bottom: 10px;
}

.div-starter-below {
    margin-bottom: 25px;
}

.starter-index {
    margin-top: 50px;
}

.p-starter {
    font-size: 15px;
}

.btn.btn-starterpage {
    margin-bottom: 10px;
    background-color: #00263e;
    color: #fff;
    white-space: normal;
}

    .btn.btn-starterpage:hover {
        background-color: #00263e;
        color: white;
        text-decoration: underline;
    }

textarea {
    resize: none;
    height: 98%;
}


table {
    page-break-inside: auto;
}

/*behovsbedomning page css*/

/*.nav.nav-tabs {
    /*border-bottom: 2px solid #00263e;*/
    /*margin-left: 20px;*/
/*}**/

/*ul.nav.nav-tabs > li {
    margin-bottom: -3px;
}*/

    ul.nav.nav-tabs > li > a {
        color: black;
        pointer-events: none;
        border: none;
        font-size: large;
    }

    /*ul.nav.nav-tabs > li.active a {
        text-decoration: none;
    }*/

i.fa.fa-info-circle {
    color: #00263e;
}

.tab-content {
    border-top-style: none;
}

.table {
    border-top-style: hidden;
    margin-top: 20px;
}

table.table {
    margin-bottom: 30px;
}

.table-container {
    position: relative;
    border: 2px solid #00263e;
    /*border-right: 2px solid #00263e;
    border-bottom: 2px solid #00263e;*/
    bottom: 22px;
    left: 0.4px;
}

.trHeader {
    border-bottom: 1px solid #00263e;
}

.areaTitle {
    text-align: left;
    font-weight: bold;
    width: 20%;
    border-top-style: none;
}

.chosenSubareaTitle {
    width: 15%;
    text-align: center;
}

.areaTdTitle {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

.options {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.subareaTdTitle {
    border-bottom: 1px solid #dedede;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.behovsbedomningTd {
    border-bottom: 1px solid #dedede;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    background-color: #00263e;
    color: #fff;
    padding: 9px 35px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 1em;
}

    .button:hover {
        background-color: #10374f;
    }


/*prioriteringsTable css*/
.storHeader, .litetHeader {
    padding: 10px;
}

.prioriteringsTableTdTitle {
    text-align: left;
}

.prioriteringsTableTd {
    text-align: left;
}

/*behovsbedomningReport css*/
#behovsbedomningReport {
    background-color: white;
}

    #behovsbedomningReport > table {
        margin-bottom: 25px;
    }

.reportTitle th {
    text-align: center;
    background-color: green;
    color: #fff;
}

.reportColumnHeader th {
    padding: 10px;
    border-bottom: 1px solid green;
}

tr.reportItems > td {
    border-bottom: 1px solid green;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    word-break: normal;
}

td.extraKommentarReportTd > textarea {
    height: 50px;
    width: 175px;
    margin-top: 10px;
    margin-bottom: 5px;
}


@media all and (max-width: 1200px) {
    h1 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.2em;
    }
    .table > thead > tr > th {
        font-size: 1em;
    }
}
@media all and (max-width: 800px) {
    .container {
        width: 98%;
    }
    #behovsbedomningTable .trHeader>th:first-child,
    #behovsbedomningTable .item>td:first-child {
    display: none;
  }
   #behovsbedomningTable th.subareaHeadTitle:before {
    content: "Område/";
  }
  .page-header {
    text-align: center;
  }
  .page-header img {
    max-width: 280px;
    width: 50%;
    vertical-align: top;
    }
    .table > thead > tr > th {
        font-size: .8em;
    }
    .container .container {
        width: 100%;
    }
}

#reportStorage .container {
    padding: 0;
    width: 100%;
}
#reportStorage .reportColumnHeader th {
    padding: 5px 0;
}
.table > thead > tr > td {
    vertical-align: top;
}